<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Equip_Box_Bg_Crade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,429},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Equip_Box_Bg_Crade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,365},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Equip_Box_Bg_Crade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,301},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Equip_Box_Bg_Crade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,396},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Equip_Box_Bg_Crade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,332},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Equip_Box_Side.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,433},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Hero_Equip_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{151,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{151,210}}</string>
                <key>sourceSize</key>
                <string>{155,212}</string>
            </dict>
            <key>Hero_Equip_ItemBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,299},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Hero_Equip_ItemBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,240},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Hero_Equip_ItemBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,181},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Hero_Equip_ItemBg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,122},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Hero_Equip_ItemBg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Hero_Equip_Shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Hero_Equip_Side.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,63},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Hero_Exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{128,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{128,19}}</string>
                <key>sourceSize</key>
                <string>{136,27}</string>
            </dict>
            <key>Hero_Exp_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,211},{136,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,27}}</string>
                <key>sourceSize</key>
                <string>{136,27}</string>
            </dict>
            <key>Hero_List_Bg_None.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,211},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>Hero_List_Bg_Work.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,343},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>Hero_List_BoxTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,433},{65,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>Hero_List_Side.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,211},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>Hero_Name_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,211},{96,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,22}}</string>
                <key>sourceSize</key>
                <string>{96,22}</string>
            </dict>
            <key>Hero_TypeName_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,348},{117,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,27}}</string>
                <key>sourceSize</key>
                <string>{117,27}</string>
            </dict>
            <key>Hero_Type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,301},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Hero_Type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,301},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{24,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Hero_Type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,301},{30,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Hero_Type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,301},{28,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{28,30}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Hero_Type_Side_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,477},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Hero_Type_Side_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,466},{28,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{28,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Hero_Type_Side_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,308},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Hero_Type_Side_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,433},{32,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Item_Bg_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,59},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Skill_None.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,460},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>Skill_Side_False.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,125},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>Skill_Side_True.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,63},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero_Public.png</string>
            <key>size</key>
            <string>{329,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1128ae29ecaaa1c4ec9a275e3a8078$</string>
            <key>textureFileName</key>
            <string>Hero_Public.png</string>
        </dict>
    </dict>
</plist>
