<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Equip_Strong_Success.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,78}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{172,78}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>Hero_Box_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,152},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>Hero_EquipBox_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,171},{60,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,18}}</string>
                <key>sourceSize</key>
                <string>{60,18}</string>
            </dict>
            <key>Hero_Equip_ItemTxtBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,193},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>Hero_Equip_ItemTxtBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,212},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>Hero_Equip_ItemTxtBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,171},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,21}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>Hero_Equip_ItemTxtBg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,190},{41,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>Hero_Equip_ItemTxtBg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,190},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>Hero_Equip_ItemTxtBg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>Hero_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{68,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,31}}</string>
                <key>sourceSize</key>
                <string>{68,31}</string>
            </dict>
            <key>Hero_Grade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,190},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{58,52}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>Hero_Grade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,85},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,66}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>Hero_Grade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>Hero_Grade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,79},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,66}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>Hero_Grade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>Hero_Info_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{60,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,18}}</string>
                <key>sourceSize</key>
                <string>{60,18}</string>
            </dict>
            <key>Hero_List_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,146},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>Hero_Skill_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,171},{60,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,18}}</string>
                <key>sourceSize</key>
                <string>{60,18}</string>
            </dict>
            <key>Hero_Title_Txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,199},{51,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,23}}</string>
                <key>sourceSize</key>
                <string>{51,23}</string>
            </dict>
            <key>Menu_Equip_Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,234},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>Menu_Equip_On.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,215},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>Menu_Equip_On_False.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,232},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>Menu_Equip_Strong.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,197},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>hero_Info_EquipBox_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,152},{60,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,18}}</string>
                <key>sourceSize</key>
                <string>{60,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero_CN.png</string>
            <key>size</key>
            <string>{255,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a512d597fc93ff7f7481d2cee8bfee7d$</string>
            <key>textureFileName</key>
            <string>Hero_CN.png</string>
        </dict>
    </dict>
</plist>
