<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CheckBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,219},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{30,30}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Gold_Icon_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,146},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>Gold_Icon_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,184},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>Hook_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,78},{34,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{34,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Icon_Speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,264},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>Item_Bg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{92,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,103}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>Item_Gift_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,136},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,96}}</string>
                <key>sourceSize</key>
                <string>{92,104}</string>
            </dict>
            <key>Item_Gift_Side.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,51},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,96}}</string>
                <key>sourceSize</key>
                <string>{92,104}</string>
            </dict>
            <key>Item_Lock_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,160},{90,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,101}}</string>
                <key>sourceSize</key>
                <string>{90,101}</string>
            </dict>
            <key>Item_None_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>Item_Side_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,93},{90,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,103}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>Menu_Bg_M_False.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,226},{85,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,41}}</string>
                <key>sourceSize</key>
                <string>{85,41}</string>
            </dict>
            <key>Menu_Bg_M_True.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,184},{85,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,41}}</string>
                <key>sourceSize</key>
                <string>{85,41}</string>
            </dict>
            <key>RollWindows_Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,129},{8,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,7}}</string>
                <key>sourceSize</key>
                <string>{8,7}</string>
            </dict>
            <key>RollWindows_Point_On.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,137},{8,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,7}}</string>
                <key>sourceSize</key>
                <string>{8,7}</string>
            </dict>
            <key>SideMenu_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>SideMenu_M_False.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,51},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>SideMenu_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,129},{141,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,66}}</string>
                <key>sourceSize</key>
                <string>{141,66}</string>
            </dict>
            <key>Silver_Icon_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,226},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>Silver_Icon_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,177},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,24}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>Silver_Icon_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,160},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>Vip_Cost_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,187},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>Vip_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,202},{31,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{31,16}</string>
            </dict>
            <key>Window_Table_Bg_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,119},{121,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,40}}</string>
                <key>sourceSize</key>
                <string>{121,40}</string>
            </dict>
            <key>Window_Table_Bg_On.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,78},{121,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,40}}</string>
                <key>sourceSize</key>
                <string>{121,40}</string>
            </dict>
            <key>Windows_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Windows_Corner_Bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,196},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>Windows_Corner_EquipUp_In.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,247},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Corner_EquipUp_Out.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,246},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Corner_Gamble_Notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,209},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Windows_Corner_Gamble_Out.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,113},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Windows_Corner_Gift_In.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,234},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Windows_Corner_Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,221},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Corner_PVPHeros_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,237},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Windows_Corner_PVPHeros_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,220},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Windows_Corner_Register.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,250},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Windows_Corner_Roll.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,268},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Windows_Corner_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,196},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>Windows_Corner_Talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,196},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Windows_Corner_Tax_In.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,221},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Corner_Tax_Out.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,221},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Corner_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Corner_Top_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,234},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Corner_Top_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,223},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Corner_Top_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,222},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Corner_White.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,221},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Windows_Middle_Bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,268},{12,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,56}}</string>
                <key>sourceSize</key>
                <string>{12,56}</string>
            </dict>
            <key>Windows_Title_Bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{251,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{251,50}}</string>
                <key>sourceSize</key>
                <string>{251,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Windows_Public.png</string>
            <key>size</key>
            <string>{512,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fab7c2843f77c2bda890eb16ae95145$</string>
            <key>textureFileName</key>
            <string>Windows_Public.png</string>
        </dict>
    </dict>
</plist>
